@model Portal.Models.Home.HomeModelsPageModel

@{
    ViewData["Title"] = "SignUp";
}

<div class="text-center">
    <h1 class="display-4">@Model.PageTitle</h1>

</div>
<br />

<p class="lead">Будь ласка, заповніть реєстраційну форму.</p>


<form asp-action="Registration" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userName-addon"><i class="bi bi-person-fill-add"></i></span>
                    <input type="text" class="form-control" placeholder="Введіть Ім`я:" aria-label="UserName" aria-describedby="userName-addon" name="signup-userName">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userSurname-addon"><i class="bi bi-person-fill-add"></i></span>
                    <input type="text" class="form-control" placeholder="Введіть Прізвище:" aria-label="UserSurname" aria-describedby="userSurname-addon" name="signup-userSurname">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userPhone-addon"><i class="bi bi-phone"></i></span>
                    <input type="tel" class="form-control" placeholder="Введіть Телефон:" aria-label="UserPhone" aria-describedby="userPhone-addon" name="signup-userPhone">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userEmail-addon"><i class="bi bi-envelope-at"></i></span>
                    <input type="tel" class="form-control" placeholder="Введіть Email:" aria-label="UserEmail" aria-describedby="userEmail-addon" name="signup-userEmail">
                </div>
                <p>Введіть Адресу:</p>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userCountry-addon"><i class="bi bi-geo-alt"></i></span>
                    <input type="text" class="form-control" placeholder="Страна:" aria-label="UserCountry" aria-describedby="userCountry-addon" name="signup-userCountry">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userRegion-addon"><i class="bi bi-geo-alt"></i></span>
                    <input type="text" class="form-control" placeholder="Область:" aria-label="UserRegion" aria-describedby="userRegion-addon" name="signup-userRegion">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userLocality-addon"><i class="bi bi-geo-alt"></i></span>
                    <input type="text" class="form-control" placeholder="Населений пункт:" aria-label="UserLocality" aria-describedby="userLocality-addon" name="signup-userLocality">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userAddress1-addon"><i class="bi bi-geo-alt"></i></span>
                    <input type="text" class="form-control" placeholder="Адреса:" aria-label="UserAddress1" aria-describedby="userAddress1-addon" name="signup-userAddress1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userAddress2-addon"><i class="bi bi-geo-alt"></i></span>
                    <input type="text" class="form-control" placeholder="Будова/дім/кв.:" aria-label="UserAddress2" aria-describedby="userAddress2-addon" name="signup-userAddress2">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userInteractionForm-addon"><i class="bi bi-person-workspace"></i></span>
                    <select class="form-select" aria-label="UserInteractionForm" aria-describedby="userInteractionForm-addon" name="signup-userInteractionForm">
                        <option selected>Оберить форму взаємодії (фізична/юридична особа)</option>
                        <option value="Фізична-особа">Фізична особа</option>
                        <option value="Юрідична-особа">Юрідична особа</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userCompanyName-addon"><i class="bi bi-building"></i></span>
                    <input type="text" class="form-control" placeholder="Введіть назву организації:" aria-label="UserCompanyName" aria-describedby="userCompanyName-addon" name="signup-userCompanyName">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userPassword-addon"><i class="bi bi-person-fill-add"></i></span>
                    <input type="password" class="form-control" placeholder="Введіть пароль:" aria-label="UserPassword" aria-describedby="userPassword-addon" name="signup-userPassword">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="userPasswordConfirm-addon"><i class="bi bi-person-fill-add"></i></span>
                    <input type="password" class="form-control" placeholder="Підтвердіть пароль:" aria-label="UserPasswordConfirm" aria-describedby="userPasswordConfirm-addon" name="signup-userPasswordConfirm">
                </div>
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-outline-primary">Реєстрація</button>
                </div>
            </div>

            <div class="row">
                <p>Ви ввели:</p>
                @if (Model.FormModel.UserFirstName != null)
                {
                    <ul>
                        <li>Ім`я: @(Model.FormModel.UserFirstName)</li>
                        <li>Прізвище: @(Model.FormModel.UserLastName)</li>
                        <li>Телефон: @(Model.FormModel.UserPhoneNumber)</li>
                        <li>Пошта:@(Model.FormModel.UserEmail)</li>
                        <li>Страна: @(Model.FormModel.UserCountry)</li>
                        <li>Область: @(Model.FormModel.UserRegion)</li>
                        <li>Населений пункт: @(Model.FormModel.UserLocality)</li>
                        <li>Адреса: @(Model.FormModel.UserAddress1)</li>
                        <li>Будова/дім/кв.: @(Model.FormModel.UserAddress2)</li>
                        <li>Форма взаємодії : @(Model.FormModel.UserInteractionForm)</li>
                        <li>Назва организації: @(Model.FormModel.UserCompanyName)</li>
                        <li>Пароль: @(Model.FormModel.UserPassword)</li>
                        <li>підтвердження паролю: @(Model.FormModel.UserPasswordConfirm)</li>

                    </ul>
            
                }
            </div>
        </div>


    </div>
</form>

