@model Portal.Models.Account.SignUp.SignUpPageModel

@{
    ViewData["Title"] = "SignUp";
}

<div class="text-center">
    <h1 class="display-4">@Model.PageTitle</h1>
</div>
<br />


<p class="lead">Будь ласка, заповніть реєстраційну форму.</p>
<form asp-action="SignUp" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="contactPersonName-addon"><i class="bi bi-person-fill-add"></i></span>
                    <input type="text" class="form-control"
                           placeholder="Введіть Ім`я:"
                           aria-label="UserName"
                           aria-describedby="contactPersonName-addon"
                           name="signup-contactPersonName"
                           value="@Model.SignUpFormModel?.UserName">
                </div>
                @if (Model.ValidationErrors.ContainsKey("UserName"))
                {
                    <div class="p-1 alert alert-danger">@Model.ValidationErrors["UserName"]</div>
                }

                <div class="input-group mb-3">
                    <span class="input-group-text" id="contactPersonSurname-addon"><i class="bi bi-person-fill-add"></i></span>
                    <input type="text" class="form-control"
                           placeholder="Введіть Прізвище:"
                           aria-label="UserSurname"
                           aria-describedby="contactPersonSurname-addon"
                           name="signup-contactPersonSurname"
                           value="@Model.SignUpFormModel?.UserSurName">
                </div>
                @if (Model.ValidationErrors.ContainsKey("UserSurName"))
                {
                    <div class="p-1 alert alert-danger">@Model.ValidationErrors["UserSurName"]</div>
                }

                <div class="input-group mb-3">
                    <span class="input-group-text" id="contactPersonPhone-addon"><i class="bi bi-phone"></i></span>
                    <input type="tel" class="form-control"
                           placeholder="Введіть Телефон:"
                           aria-label="UserPhone"
                           aria-describedby="contactPersonPhone-addon"
                           name="signup-contactPersonPhone"
                           value="@Model.SignUpFormModel?.UserPhoneNumber">
                </div>
                @if (Model.ValidationErrors.ContainsKey("UserPhoneNumber"))
                {
                    <div class="p-1 alert alert-danger">@Model.ValidationErrors["UserPhoneNumber"]</div>
                }

                <div class="input-group mb-3">
                    <span class="input-group-text" id="userAccountEmail-addon"><i class="bi bi-envelope-at"></i></span>
                    <input type="email" class="form-control"
                           placeholder="Введіть Email (тільки для работи з обліковим записом):"
                           aria-label="UserEmail"
                           aria-describedby="userAccountEmail-addon"
                           name="signup-userAccountEmail"
                           value="@Model.SignUpFormModel?.UserAccountEmail">
                </div>
                @if (Model.ValidationErrors.ContainsKey("UserEmail"))
                {
                    <div class="p-1 alert alert-danger">@Model.ValidationErrors["UserEmail"]</div>
                }
              
                <div class="input-group mb-3">
                    <span class="input-group-text" id="contactPersonWorkEmail-addon"><i class="bi bi-envelope-at"></i></span>
                    <input type="email" class="form-control"
                           placeholder="Введіть робочий Email:"
                           aria-label="WorkEmail"
                           aria-describedby="contactPersonWorkEmail-addon"
                           name="signup-contactPersonWorkEmail"
                           value="@Model.SignUpFormModel?.UserWorkEmail">
                </div>
                @if (Model.ValidationErrors.ContainsKey("WorkEmail"))
                {
                    <div class="p-1 alert alert-danger">@Model.ValidationErrors["WorkEmail"]</div>
                }

                <div class="input-group mb-3">
                    <span class="input-group-text" id="contactPersonDescription-addon"><i class="bi bi-geo-alt"></i></span>
                    <input type="text" class="form-control"
                           placeholder="Вкажить посаду:"
                           aria-label="СontactPersonDescription"
                           aria-describedby="contactPersonDescription-addon"
                           name="signup-contactPersonDescription"
                           value="@Model.SignUpFormModel?.UserDescription">
                </div>
                @if (Model.ValidationErrors.ContainsKey("UserDescription"))
                {
                    <div class="p-1 alert alert-danger">@Model.ValidationErrors["UserDescription"]</div>
                }

                <div class="input-group mb-3">
                    <label class="input-group-text" for="signup-avatar"><i class="bi bi-person"></i></label>
                    <input type="file" class="form-control"
                           id="signup-avatar"
                           name="signup-avatar">
                </div>

            </div>
        </div>

        <div class="col">

            <div class="row">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="userPassword-addon"><i class="bi bi-person-fill-add"></i></span>
                    <input type="password" class="form-control" 
                    placeholder="Введіть пароль:" 
                    aria-label="UserPassword" 
                    aria-describedby="userPassword-addon" 
                    name="signup-userPassword">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="userPasswordConfirm-addon"><i class="bi bi-person-fill-add"></i></span>
                    <input type="password" class="form-control" 
                    placeholder="Підтвердіть пароль:" 
                    aria-label="UserPasswordConfirm" 
                    aria-describedby="userPasswordConfirm-addon" 
                    name="signup-userPasswordConfirm">
                </div>

                @if (Model.ValidationErrors.ContainsKey("UserPasswordConfirm"))
                {
                    <div class="p-1 alert alert-danger">@Model.ValidationErrors["UserPasswordConfirm"]</div>
                }


                <div class="col">
                    <div class="form-check">
                        <input name="signup-privacyConfirm" type="checkbox" value="true" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Погоджуюсь із правилами сайту
                        </label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-check">
                        <input name="signup-isVisible" type="checkbox" value="true" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Відображати мої контактні дані.
                        </label>
                    </div>
                </div>



                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-outline-primary">Реєстрація</button>
                </div>

                <div class="mb-3">
                    @if (Model.IsSuccess != null)
                    {
                        <div class="d-flex p-2 bd-highlight alert  @(Model.IsSuccess ?? false ? "alert-success" : "alert-danger")" role="alert">
                            @Model.Message

                        </div>
                    }
                </div>
            </div>

            <div class="row">
            </div>
        </div>


    </div>
</form>

